body {
  font-size: 1.4em;
}

a[ui-sref]:hover {
  cursor: pointer;
  color:blue;
  font-style: italic;
}
li:hover {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  color:blue;
  font-style: italic;
  font-size: 150%;
}
div{
  position: fixed;
  bottom: 10px;
  right: 25px;
  text-align: center;
  border: 1px solid grey;
}
